/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
  color: rgb(0, 0, 0);
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
  color: rgb(0, 0, 0);
}
input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#empt {
    left:60px;
    z-index:9999;
    bottom:60px;
    position:fixed;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: none;
    display: none;
    background: rgb(13, 26, 23) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    font-size: 12px;
}
.hours {
    left:65px;
    z-index:9999;
    bottom:70px;
    position:fixed;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    text-align: center;
    border: none;
    -moz-appearance:textfield;
    -webkit-appearance:textfield;
    display: none;
    background: rgb(13, 26, 23) none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    font-size: 12px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.btn-floating {
    position:fixed;
    left:5px;
    bottom:5px;
    margin:5px;
    z-index:9999;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    display: inline-block;
    border-radius: 50%;
    color: #fff;
    overflow: hidden;
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    transition: .3s;
    cursor: pointer;
    vertical-align: middle;
    background-color: #F44336;
    text-align: center;
    outline: 0;
    text-decoration: none;
    letter-spacing: .5px;
    transition: .2s ease-out;
    border: none;
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}