
@-moz-document url-prefix(){
    html, body {
      overflow-x:hidden;
    }
}

.button {
    background: url(../images/btn_icons.png) no-repeat 0 0;
    display: block;
    float: left;
    margin-top: -5px;
    height: 24px;
    width: 24px;
}
.button2 {
    background: url(../images/btn_icons.png) no-repeat 0 0;
    width: 13px;
    height: 13px;
    display: block;
    float: left;
    margin-top: 1px;
    margin-left: 75px;
}

.add {
    background-position: -24px 0;
}

.save {
    background-position: -97px -28px;
}

.log {
    background-position: 0 0;
}

.entry {
    background-position: -48px 0;
}

.save-text {
    text-align: center;
    position:fixed;
    float: left;
    margin-left: -40px;
}

.export {
    background-position: -72px 0;
}

#ews {
	width:5em;
	text-align: center;
	padding:0px;
	position:relative;
}

#rats {
	width:6.5em;
	text-align: center;
	padding:6px;
	position:relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#suggestions {
    width: 100%;
    padding: 0px;
	position:relative;
    margin-top: -24px;
    margin-left: 102px;
}
#desc {
	width:100%;
	padding:0px;
	position:relative
}

#hour {
	width:3em;
	padding:0px;
	position:relative;
}

#addBlock {
	border: 1px solid #cac9c9;
	margin-top: 39px;
	position: absolute;
}

/* Panel Section - Small Footer */
.panel-section-footer-small {
  background-color: rgba(255, 12, 10, 0.3);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  color: #1a1a1a;
  display: flex;
  flex-direction: row;
  height: 21px;
  margin-top: -1px;
  padding: 0;
}
.panel-section-footer-button-small {
  flex: 1 1 auto;
  height: 100%;
  margin: 0 -1px;
  padding: 2px;
  text-align: center;
  font-size: .847em;
}
.panel-section-footer-button-small:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.panel-section-footer-button-small:hover:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.panel-section-footer-button-small.default {
  background-color: #0996f8;
  box-shadow: 0 1px 0 #0670cc inset;
  color: #fff;
}

.panel-section-footer-button-small.default:hover {
  background-color: #0670cc;
  box-shadow: 0 1px 0 #005bab inset;
}

.panel-section-footer-button-small.default:hover:active {
  background-color: #005bab;
  box-shadow: 0 1px 0 #004480 inset;
}

.typeahead,
.tt-query,
.tt-hint {
  height: 11px;
  padding: 0px;
  font-size: 11px;
  border: 2px solid #ccc;
  outline: none;
}

.typeahead {
  background-color: #fff;
  height: 18px;
}

.typeahead:focus {
  border: 1px solid #000;
}

.tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
    max-height: 165px;
    overflow-y: auto;
    width: 210px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-left: -103px;
}

.tt-suggestion {
  padding: 0;
  margin: 0;
  font-size: 10px;
  line-height: 100%;
}

.tt-suggestion:hover {
  padding: 0px 0px 0px 0px; /*  top, right, bottom, left */
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
  line-height: 100%;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 11px;
}